  .profile__description {
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;
    margin-top: -9px;

  }

  @media screen and (max-width: 600px) {
    .profile__description {
      font-size: 14px;
      line-height: 17px;
      margin-top: -6px;
      margin-left: 26px;
    }
  }
