.header__button {
  background: none;
  border: 0;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
  margin-left: 24px;
}

.header__button:hover {
  cursor: pointer;
}